.group {
  width: 97vw;
  border-bottom: 1px solid $color-compliment-three;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  // overflow-y: hidden;
}

.user {
}
