$color-highlight: #E1463A;
$color-pop-one: #22AFC9;
$color-pop-two: #A1DB6A;
$color-compliment-dark: #555555;
$color-link-text: #777777;
$color-compliment: #F7F7F7;
$color-compliment-two: #F8F3DD;
$color-compliment-three: #E7E7E7;
